version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mosquitto
      - influxdb

  mosquitto:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
    volumes:
      - ./infra/mosquitto/config:/mosquitto/config:ro

  influxdb:
    image: influxdb:2.8
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_HTTP_BIND_ADDRESS=:8086

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
